@import "highlight.scss";

body {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
	font-size: 16px;
  color: #333;
	line-height: 1.6;
	margin: 0;
  padding-bottom: 50px;
}
input, textarea {
  font-size: 1em;
  box-sizing: border-box;
  padding-left: 10px;
}
textarea {
  padding: 20px;
  line-height: 1.6;
}

h1, h2 {
  font-size: 1.5em;
  margin: 20px 0;
}
h3 {
  font-size: 1.25em;
  margin: 15px 0;
}

p, ul, li ,dl {
  font-size: 1em;
}

p, li {
  margin: 10px 0;
}

code {
  color: #FF0068;
  padding: 0 3px;
  background-color: #e1e1e8;
}
