.content {
  margin-bottom: 20px;
  border-bottom: solid #666 1px;
  dt {
    a {
      color: #333;
      display: inline-block;
      vertical-align: middle;
      text-decoration: none;
      &:first-child {
        font-size: 1.25em;
        margin-right: 20px;
        max-width: 90%;
      }
    }
  }
  dd {
    margin: 20px 0;
    span {
      display: inline-block;
      vertical-align: middle;
      padding-right: 10px;
      margin-right: 10px;
      border-right: 1px dotted #666;
    }
  }
}

.topHeader {
  .list {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    .txt {
      display: inline-block;
      vertical-align: middle;
      margin: 0 15px;
    }
  }
}
